/*copied link of the downloaded font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


/*for the font*/
body { 
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/*CLASS: use period at the first part*/
.hero-bg{
    background: #307D99 url('../images/bg.jpg');
    background-position: 35% 43%; /*position of the bg xy*/
    color: white;
    text-align: center;
    padding-bottom: 7em; /*same with a margin but this is inside*/
}

/*title or name of the website*/
header {
    padding-top: 1em 0;
    padding-bottom: 3em;
}

.hero-bg a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight:400;
    font-size: 1.5rem;
}

section {
    margin: 0 1em;
}

/* Drink for Everyone */
h1 {
    font-size: 2.5rem;
    font-weight: 400em;
    line-height: 2.5em;
    margin: 0.5em 0 0.1em; /*for margins: top > right > bottom > left*/
    padding-top: 0;
} 

/*h1 span bc span is inside the h1 element*/
/* A Refreshing */
h1 span {
    text-transform: uppercase;
    display: block; /*puts an element on its own line*/
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 0.5em;
}

/*the paragraph inside the class : hero-bg*/
.hero-bg p {
    font-size: medium;
    font-weight: 100;
    line-height: 1.3em;
    margin: 0 1em 3em;
}

/*The white space used in the form*/
.form-container {
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em;
}

/* Enter desired flavor: */
label {
    color: #2D7D98;
    font-weight: bold;
    display: block;
    font-size: 1.5em;
}

/*Input box*/
input[type=text] {
    border: 1px solid #707070;
    width: 100%;
    padding: 1em;
    box-sizing: border-box; /*to align the box bc of the width and padding*/
    border-radius: .5em; /*corners of the box*/
    margin-top: 1.2em;
}

/* Example: "Chocolate" */
.form-container p {
    color: gray;
    margin-bottom: 1.5em;
    font-weight: 500;
    font-size: 1em;
    margin-top: .3em;
}

/* Find Flavor Now */
input[type=button] {
    background-color: #f89104;
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 1em 1em;
    border-radius: .5em;
    font-size: 1.1em;
    cursor: pointer; /*to change the cursor when pointed to the button*/
}

/*hover: to modify when cursor is pointed at the element*/
input[type=button]:hover {
    background-color: #d67d00;
}

/*2nd section: About Us*/
.aboutus {
    font-size: large;
    margin: 0;
}

.right-col {
    text-align: center;
    line-height: 1em;
    margin: 3em 1em;
}

h2 {
    text-transform: uppercase;
    position: relative;
}

/*fit image whatever size the browser is*/
img {
    width: 100%;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .9);
    z-index: 1;
    place-content: center;
    color: white;
    display: none;
    opacity: 0;
}

.animate-overlay {
    animation: overlay 3s forwards;
}

/* when the pixels is above the minimum req for phone */
@media (min-width: 730px) {
    section {
        margin: 0 4em; /*must increase the size for right & left*/
    }

    .form-container {
        margin: 2em -4em 0; /*decrease margin for the right side*/
    }
}

/* when the pixels is above the minimum req for tablet/ipad */
@media (min-width: 930px) {
    .hero-bg{
        text-align: left;
    }
    .hero-bg p {
        margin: 0 0 3em;
    }
    .hero-bg section {
        width: 65%;
    }
    .form-container {
        margin: 2em 0 0;
        padding: 2em;
        border-radius: 1em;
        box-shadow: 10px 10px 10px rgba(0,0,0,.3)
    }

    /* to modify the form's structure */
    form {
        display: flex; 
    }

    .form-left {
        width: 70%;
    }
    label {
        margin: 0;
    }
    input[type="button"]{
        height: fit-content;
        font-size: 1.1em;
        margin-left: 1em;
        margin-top: 2.45em;
        padding: .7em 0;
        width: 30%;
    }
    .hero-bg p {
        margin-bottom: 0;
    }

    section.aboutus {
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-areas:
            "bowl content";
    }

    .right-col {
        grid-area: content;
        text-align: left;
        align-self: center;
    }

    img {
        grid-area: bowl;
    }

}

/* to create animation in the website*/
.top {
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}